/*
 *	QUICKWORD KEYBOARD v3.0
 *	Copyright (c) OCT 2024 Erik Kyren
 *
 *	Note: this is a prototype for QUICKWORD KEYBOARD(c) on ZMK firmware
 */
 
 /*
 * 	Copyright (c) 2021 Pete Johanson
 *
 * 	SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>


#define DEFAULT 0
#define QWTWO 1





// Macro to apply momentary-layer-on-hold/toggle-layer-on-tap to a specific layer

&lt { 	tapping-term-ms = <200>;
	quick-tap-ms = <115>;
    	global-quick-tap;
	retro-tap;
	};

&mt { 	tapping-term-ms = <125>;
	retro-tap;};



/ {

//macros {

            and: and {
                label = "and";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                =  <&macro_tap &kp A &kp A &kp D>;
            };

            the: the {
                label = "the";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                =  <&macro_tap &kp T &kp H &kp E>;
            };

            ch: ch {
                label = "ch";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                =  <&macro_tap &kp C &kp H>;
            };

            id: id {
                label = "id";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                =  <&macro_tap &kp I &kp APOS &kp D>;
            };
             
            im: im {
                label = "im";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                =  <&macro_tap &kp I &kp APOS &kp M>;
            };
             
            in: in {
                label = "in";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                =  <&macro_tap &kp I &kp N>;
            };

            nd: nd {
                label = "nd";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                =  <&macro_tap &kp A &kp N &kp D>;
            };
             
            nt: nt {
                label = "nt";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                =  <&macro_tap &kp N &kp APOS &kp T>;
            };
             
            of: of {
                label = "of";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                =  <&macro_tap &kp O &kp F>;
            };

            on: on {
                label = "on";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                =  <&macro_tap &kp O &kp N>;
            };
             
            ou: ou {
                label = "ou";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                =  <&macro_tap &kp O &kp U>;
            };
             
            ty: ty {
                label = "ty";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                =  <&macro_tap &kp T &kp Y>;
            };
             
            ve: ve {
                label = "ve";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                =  <&macro_tap &kp V &kp E>;
            };
             
            wh: wh {
                label = "wh";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                =  <&macro_tap &kp W &kp H>;
            };
        };        

combos {
	compatible = "zmk,combos";


            ///COMBO_CODES
            ///by: Erik Kyren
            ///July 2023

///LEFT HAND HOMEROW CHORDS Y B C U




	v_combo {
                timeout-ms = <60>;
                key-positions = <12 13>;
                bindings = <&kp V>;
            };

	u_combo {
                timeout-ms = <60>;
                key-positions = <11 12>;
                bindings = <&kp U>;
            };

	l_combo {
                timeout-ms = <60>;
                key-positions = <10 13>;
                bindings = <&kp L>;
            };

	apos_combo {
                timeout-ms = <60>;
                key-positions = <2 3>;
                bindings = <&kp APOS>;
	};

        close_combo {
		timeout-ms = <235>;
		key-positions = <30 31>;
		bindings = <&closeit>;	
	};

//	home_combo {
//           	timeout-ms = <235>;
//  	        key-positions = <20 21>;
//		bindings = <&homeshft>;
//        };

///RIGHT HAND HOMEROW CHORDS P M H G



	c_combo {
                timeout-ms = <60>;
                key-positions = <17 18>;
                bindings = <&kp U>;
	};

	y_combo {
                timeout-ms = <60>;
                key-positions = <16 17>;
                bindings = <&kp H>;
	};

	f_combo {
                timeout-ms = <60>;
                key-positions = <16 19>;
                bindings = <&kp C>;
	};

	g_combo {
                timeout-ms = <60>;
                key-positions = <16 18>;
                bindings = <&kp R>;
	};


	enter_combo {
                timeout-ms = <60>;
                key-positions = <6 7>;
                bindings = <&kp ENTER>;
            };

   //     end_combo {
  //          	timeout-ms = <235>;
//           	key-positions = <28 29>;
   //         	bindings = <&endshft>;		
//	};


///BOTH HAND HOMEROW CHORDS F W D L V


	//d_combo {
                timeout-ms = <60>;
                key-positions = <11 16>;
                bindings = <&kp D>;
            };

	//m_combo {
                timeout-ms = <60>;
                key-positions = <13 18>;
                bindings = <&kp M>;
            };

	//w_combo {
                timeout-ms = <60>;
                key-positions = <10 19>;
                bindings = <&kp W>;
            };

	//n_combo {
                timeout-ms = <60>;
                key-positions = <12 17>;
                bindings = <&kp N>;
            };

//COMPUTER COMMANDS



	copy: copy {
		label= "copy";
		compatible = "zmk,behavior-macro";
		#binding-cells = <0>;
		bindings
		=  <&macro_tap &kp LC(C)>;
	};

	cut: cut {
		label= "cut";
		compatible = "zmk,behavior-macro";
		#binding-cells = <0>;
		bindings
		=  <&macro_tap &kp LC(X)>;
	};
	
	paste: paste {
		label= "paste";
		compatible = "zmk,behavior-macro";
		#binding-cells = <0>;
		bindings
		=  <&macro_tap &kp LC(V)>;
	};


	homeshft: homeshft {
		label= "homeshft";
		compatible = "zmk,behavior-macro";
		#binding-cells = <0>;
		bindings
		=  <&macro_tap &kp LS(HOME)>;
	};

	endshft: endshft {
		label= "closeit";
		compatible = "zmk,behavior-macro";
		#binding-cells = <0>;
		bindings
		=  <&macro_tap &kp LS(END)>;
	};

	closeit: closeit {
		label= "closeit";
		compatible = "zmk,behavior-macro";
		#binding-cells = <0>;
		bindings
		=  <&macro_tap &kp LC(W)>;
	};

	screen: screen {
		label= "screen";
		compatible = "zmk,behavior-macro";
		#binding-cells = <0>;
		bindings
		=  <&macro_press &kp LGUI &kp RSHFT>
		, <&macro_tap &kp S>
		, <&macro_release &kp LGUI &kp RSHFT>;
	}; 

};


behaviors {


            ///BEHAVIORS
            ///by: Erik Kyren
            ///July 2023


//DOUBLETAP X into !
        td_x: tap_dance_x {
                compatible = "zmk,behavior-tap-dance";
                label = "TAP_DANCE_X";
                #binding-cells = <0>;
                tapping-term-ms = <160>;
                bindings = <&kp X>, <&kp EXCL>;
	};

        td_dot: tap_dance_dot {
                compatible = "zmk,behavior-tap-dance";
                label = "TAP_DANCE_DOT";
                #binding-cells = <0>;
                tapping-term-ms = <160>;
                bindings = <&kp PERIOD>, <&kp COMMA>;
	};

//MOD MORPH MO INTO TAB
	motab: motab_mod_morph {
		compatible = "zmk,behavior-mod-morph";
		label = "MOTAB_MOD_MOPRH";
		#binding-cells = <0>;
		bindings = <&mo 11>, <&kp TAB>;
           	mods = <(MOD_LGUI|MOD_LALT|MOD_LCTL|MOD_LSFT|MOD_RGUI|MOD_RSFT|MOD_RCTL|MOD_RALT)>;
         	keep-mods = <(MOD_LGUI|MOD_LALT|MOD_LCTL|MOD_LSFT|MOD_RGUI|MOD_RSFT|MOD_RCTL|MOD_RALT)>;
	};

};


keymap {
	compatible = "zmk,keymap";
        default {
            label = "greasygoose";
			bindings = <
				&kp N1	 	&kp N2	    	&kp N3		&kp N4		&kp N5    	&kp N6    	&kp N7    	&kp N8		&kp N9		&kp N0
				&kp S	    	&kp O		&lt 1 A		&kp N		&td_dot		&kp BSPC	&kp E	   	&lt 1 T		&kp I		&kp Y
				&kp LCTRL    	&mt LGUI Z	&mt LALT J	&kp G		&kp APOS   	&kp N0		&kp Q 		&mt RALT K	&kp RGUI	&kp RCTRL
								&kp N0		&kp N0		&kp N0		&kp N0
			>;
		};

        qwtwo {
            label = "<(poopygoose)>";
			bindings = <
				&kp N1	 	&kp N2	    	&kp N3		&kp N4		&kp N5    	&kp N6    	&kp N7    	&kp N8		&kp N9		&kp N0
				&kp S	    	&kp O		&kp A		&and		&td_dot		&kp BSPC	&the	   	&kp T		&kp I		&kp Y
				&kp LCTRL    	&mt LGUI Z	&mt LALT J	&kp G		&kp APOS   	&kp N0		&kp Q 		&mt RALT K	&kp RGUI	&kp RCTRL
								&kp N0		&kp N0		&kp N0		&kp N0
			>;
		};
	};
};
